.footer {
  $footer-background: $secondary-background-color;
  $footer-color: $secondary-font-color;
  $footer-link-color: transparentize($footer-color, 0.3);

  background: $footer-background;
  display: inline-block;
  padding: $base-spacing;
  width: 100%;

  .footer-logo {
    margin-bottom: 0.5em;
    margin-right: 1em;
    float: left;
    margin-bottom: 0;
  }

  .footer-logo img {
    height: 1.6em;
  }

  ul {
    margin: 0 0 0.5em 0;
    padding: 0;
    float: left;
    margin-bottom: 0;
    margin-left: 1em;
  }

  ul li {
    list-style: none;
    padding-right: 1em;
    display: inline;
    text-align: left;
  }

  ul li a {
    color: $footer-link-color;
    text-decoration: none;

    &:focus,
    &:hover {
      color: transparentize($footer-color, 0);
    }
  }
}
