$nav-background: $secondary-background-color;
$nav-height: 3em;
$nav-color: $secondary-font-color;
$nav-link-color: transparentize($nav-color, 0.3);

nav {
  padding: $base-spacing;
  background-color: $nav-background;
  color: $nav-color;

  border-bottom: 15px solid darken($nav-background, 6%);

  min-height: $nav-height;
  width: 100%;
  z-index: 9999;

  ul li a {
    color: $nav-link-color;
    text-decoration: none;

    &:focus,
    &:hover {
      color: transparentize($nav-color, 0);
    }
  }
}
